@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@media screen and (max-width: 768px){
	body
	{
		background: white;		
		font-family: helvetica;
		padding: 0;
		margin: 0;
		width: 100%;
	}	
	footer
	{
		background: #333;
		color: #ccc;
		margin: 0;
		padding:.25em 0;
		text-align: center;
		width: 100%;
	}
	footer #tel:before
	{
		content: "\f095";
		font-family: "icomoon";
		margin-right: .5em;
	}
	footer #dir:before
	{
		content: "\e004";
		font-family: "icomoon";
		margin-right: .5em;
	}
	footer #ciudad:before
	{
		content: "\e006";
		font-family: "icomoon";
		margin-right: .5em;
	}
	footer #git a
	{
		text-decoration: none;
		font-size: 1.5em;
	}
	footer #git a:before
	{
		color: #777;
		content: "\f09b";
		font-family: "icomoon";
		margin-right: .5em;
	}
	header
	{
		margin: 0;
		padding: 0;	
	}
	header nav
	{
		bottom-right: 0em;
		left: 0em;
		margin-top: 2.5em;
		padding: 0;	
	}
	header nav ul
	{
		list-style: none;	
		margin: 0;
		padding: 0;	
	}
	header nav ul li
	{
		border-bottom: 1px #ccc solid;
		background: #21374C;
		font-size: 1.7em;
		margin: 0 auto;
		opacity: .8;
		padding: .5em 0;
		text-align: center;
		width: 100%;
	}
	header nav li a
	{
		color: rgba(252,252,252,.9) ;
		text-decoration: none;
	}
	header #logo
	{
		margin: .25em 0;
		display: inline-block;
		padding: 0em;
		z-index: 1;
	}
	header #titulos
	{
		left: 0;
		padding: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}
	header #titulos h1
	{
		background: #F08E3C;
		color: #fff;
		font-size: 3em;
		margin:0 auto;
		opacity: .8;
		padding: 1em 0 1em 0;
		text-align: center;
	}
	header #titulos h1:after
	{
		content: "\e005";
		font-family: "icomoon";
	}
	header #titulos h3
	{
		background: #1B58A1;
		color: #fff;
		font-style: italic;
		margin: 0;
		opacity: .9;
		padding: .25em 0;
		text-align: right;
		width: 100%;
	}
	header #titulos #img-principal
	{
		display: none;
		
	}
	#contenido
	{
		width: 95%;
	}
	#contenido #control
	{
		background: #cc4037;
		color: #999;
	}
	#contenido #control h4, #contenido #control #logo
	{
		background: #fff;
	}
	#contenido #control h4, #contenido #control .subtitulos
	{
		background: #000;
		color: #fff;
	}
	#contenido #control h4, #contenido #control .tabla
	{
		background: #000;
	}
	#contenido #control h4, #contenido #control .tabla td
	{
		border-bottom: 1px #4c0d09 solid;
	}
	#contenido #control p.procesos
	{
		color: #eee;
	}
	#contenido #eficiencia
	{
		background: #ffc19f;
		color: #222;
	}
	#contenido #eficiencia h4, #contenido #eficiencia #logo
	{
		background: #fff;
	}
	#contenido #eficiencia h4, #contenido #eficiencia .subtitulos
	{
		background: #fff;
		color: #cc4037;
	}
	#contenido #eficiencia h4, #contenido #eficiencia .tabla
	{
		background: #cc4037;
		color: #222;
	}
	#contenido #eficiencia h4, #contenido #eficiencia .tabla td
	{
		border-bottom: 1px #ffc19f solid;
	}
	#contenido #eficiencia p.procesos
	{
		color: #000;
	}
	#contenido #informatica
	{
		background: #fff8c9;
		color: #222;
	}
	#contenido #informatica h4, #contenido #informatica #logo
	{
		background: #000;
	}
	#contenido #informatica .subtitulos
	{
		background: #000;		
		color: #fff;
	}
	#contenido #informatica h4, #contenido #informatica .tabla
	{
		background: #2d2700;
		color: #fff8c9;
	}
	#contenido #informatica h4, #contenido #informatica .tabla td
	{
		border-bottom: 1px #fff8c9 solid;
	}
	#contenido #informatica p.procesos
	{
		color: #eee;
	}
	#contenido #jefatura
	{
		background: #4c0d09;
		color: #000;
	}
	#contenido #jefatura h4, #contenido #jefatura #logo
	{
		background: #fff;
	}
	#contenido #jefatura h4, #contenido #jefatura .subtitulos
	{
		background: #fff;
	}
	#contenido #jefatura h4, #contenido #jefatura .tabla
	{
		background: #d3b2af;
		color: #000;
	}
	#contenido #jefatura h4, #contenido #jefatura .tabla td
	{
		border-bottom: 1px #4c0d09 solid;
	}
	#contenido #jefatura p.procesos
	{
		color: #eee;
	}
	#contenido #servicio
	{
		background: #348FD4;
		color: #222;
	}
	#contenido #servicio h4, #contenido #servicio #logo
	{
		background: #06406c;
	}
	#contenido #servicio h4, #contenido #servicio .subtitulos
	{
		background: #06406c;
		color: #fff;
	}
	#contenido #servicio h4, #contenido #servicio .tabla
	{
		background: #06406c;
	}
	#contenido #servicio h4, #contenido #servicio .tabla td
	{
		border-bottom: 1px #348FD4 solid;
	}
	#contenido #servicio p.procesos
	{
		color: #eee;
	}
	#contenido .departamentos
	{
		padding: 1em;
		position: relative;
		width: 100%;
	}
	#contenido .departamentos h4
	{
		border-radius: 5px;
		padding: .3em;
		width: 35%;
	}
	#contenido .departamentos p
	{
		border-radius: 5px;
		margin: 0 0 6em 0;
		padding: .3em;
		width: 40%;
	}
	#contenido .departamentos p.procesos
	{
		background: none;
		padding: 0;
		margin: 1em 0;		
	}
	#contenido .departamentos #logo
	{
		border-radius: 5px;
		height: 146px;
		padding: .3em;
		right: 3em;
		position: absolute;
		top: 2em;
		width: 155px;
	}
	#contenido .departamentos .tabla
	{
		border-radius: 5px;
		color: rgba(211, 178, 175,.9);
		margin-bottom: 5em;
		padding: .5em;
	}
	#contenido .departamentos .tabla td
	{
			padding: .5em .5em .25em .25em;
	}
}


/*body
{
	border: 2px red solid;
	background: url('../img/wall/fabric_1.png');
	margin: 0 auto;
	max-width: 1200px;
}
footer
{
	background: #111;
	color: #4c4c4c;
	font-weight: bold;
	padding: 1em 0 1em 3em;
	margin-top: 2em;
	max-width: 1200px;
}
header
{
	position: relative;
}
header figure, header nav
{
	display: inline-block;
	vertical-align: top;
}
header nav ul
{
	list-style: none;
	margin: 2em 0 0 9em;
	padding: 0;
}
header nav ul li
{
	color: #4c4c4c;
	display: inline-block;
	margin: 1em 0 0 2em;
	padding: .25em .5em;
}
header nav ul li#contacto
{
	background: rgba(204,51,153,.7);
	left: -8em;
	position: relative;
	top: 4em;
}
header nav ul li a
{
	color: #4c4c4c;	
	text-decoration: none;
}
header #titulos
{
	border-radius: 10px; 
	height: 20em;
	margin: 0 auto;
	overflow: hidden;
	width: 75%;
}
header #titulos h1
{
	background: #F08E3C;
	color: white;
	left: 7em;
	opacity: .8;
	padding: 1.5em 2em;
	position: absolute;
	top: 5em;
	width: 15%;
}
header #titulos h3
{
	background: #999;
	color: #222;
	left: 17em;
	opacity: .8;
	padding: 1em 1.5em;
	position: absolute;
	top: 16em;
	width: 15%;
}
header #titulos #img-principal img
{	
	display: block;
	opacity: .8;
	width: 100%;
}*/
